/* Util css modules for styles that are often used */

/* class to center content */
.blockCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
